/*

position:fixed;
bottom:-350px;
right:200px;
box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
height:300px;
width:400px;
background-color: #f8f8f8;
border:1px solid #ddd;
border-radius:5px;
padding:10px;
overflow: hidden;

*/

#chatPopupContainer {
    position: fixed;
    bottom: -300px;
    right: 250px;
    height: 300px;
    width: 400px;
}
#chatPopupContainer #pullBar {
    font-size: 13px;
    padding: 5px 15px 5px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0px;
    background-color: #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -30px;
    left: 170px;
    cursor: pointer;
}
#chatPopup {
    position: fixed;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
}
#chatPopup #chatArea {
    width: 267px;
    height: 253px;
    border-radius: 5px;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid #ddd;
}
.chatLine.user {
    background-color: #F0F0F0 !important;
}
#chatPopup #chatArea .chatLine {
    background-color: #f8f8f8;
    margin: 5px;
    border: 1px solid #ddd;
    padding: 6px;
    vertical-align: middle;
    border-radius: 10px;
    font-size: 15px;
    abox-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}
input#chatSubmit {
    margin-left: 10px;
    margin-top: 10px;
}
input#chatInput {
    width: 75%;
    margin-top: 10px;
}
#chatPopup #left {
    float: left;
    margin-right: 10px;
}
#chatPopup #right {
    overflow: hidden;
    height: 100%;
}
#chatPopup p#chatClose {
    margin: 0px;
    padding: 0px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 11px;
    padding: 3px;
    margin-bottom: 5px;
}
#chatStatus {
    font-size: 10px;
    font-style: italic;
    min-height: 10px;
}
